In [1]:
#Task-1 (Data Analytics)
#Data Immersion and Wrangling

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("dataset.csv")

print(df.head())

print("Rows & Columns:", df.shape)

   Customer_ID Customer_Name Gender Date_of_Birth       City Product_Category  \
0          101  Rahul Sharma      M    1999-05-12      Delhi      Electronics
1          102   Anita Verma      F    2000-08-25     Mumbai         Clothing
2          103  Suresh Kumar      M    1998-11-02    Chennai        Groceries
3          104   Priya Singh      F    2001-03-14    Kolkata      Electronics
4          105    Amit Patel      M    1997-07-30  Ahmedabad        Furniture

  Purchase_Date  Sales_Amount  Quantity Payment_Mode
0    2024-01-15       45000.0         1  Credit Card
1    2024-01-18        3200.0         2          UPI
2    2024-01-20         850.0         5         Cash
3    2024-01-22       38000.0         1   Debit Card
4    2024-01-25       15000.0         1  Credit Card
Rows & Columns: (11, 10)

In [4]:
# Column names
print(df.columns)

# Data types
print(df.info())

# Statistical summary
print(df.describe(include="all"))

Index(['Customer_ID', 'Customer_Name', 'Gender', 'Date_of_Birth', 'City',
       'Product_Category', 'Purchase_Date', 'Sales_Amount', 'Quantity',
       'Payment_Mode'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer_ID       11 non-null     int64
 1   Customer_Name     11 non-null     object
 2   Gender            11 non-null     object
 3   Date_of_Birth     10 non-null     object
 4   City              11 non-null     object
 5   Product_Category  11 non-null     object
 6   Purchase_Date     11 non-null     object
 7   Sales_Amount      10 non-null     float64
 8   Quantity          11 non-null     int64
 9   Payment_Mode      11 non-null     object
dtypes: float64(1), int64(2), object(7)
memory usage: 1008.0+ bytes
None
        Customer_ID Customer_Name Gender Date_of_Birth     City  \
count     11.000000            11     11            10       11
unique          NaN            10      2             9        7
top             NaN    Anjali Das      F    2002-01-22  Kolkata
freq            NaN             2      6             2        3
mean     105.909091           NaN    NaN           NaN      NaN
std        3.176619           NaN    NaN           NaN      NaN
min      101.000000           NaN    NaN           NaN      NaN
25%      103.500000           NaN    NaN           NaN      NaN
50%      106.000000           NaN    NaN           NaN      NaN
75%      108.500000           NaN    NaN           NaN      NaN
max      110.000000           NaN    NaN           NaN      NaN

       Product_Category Purchase_Date  Sales_Amount   Quantity Payment_Mode
count                11            11     10.000000  11.000000           11
unique                4            10           NaN        NaN            4
top            Clothing    2024-02-07           NaN        NaN          UPI
freq                  4             2           NaN        NaN            4
mean                NaN           NaN  18105.000000   1.909091          NaN
std                 NaN           NaN  19669.808365   1.221028          NaN
min                 NaN           NaN    850.000000   1.000000          NaN
25%                 NaN           NaN   3100.000000   1.000000          NaN
50%                 NaN           NaN   9100.000000   2.000000          NaN
75%                 NaN           NaN  33000.000000   2.000000          NaN
max                 NaN           NaN  52000.000000   5.000000          NaN

In [5]:
print("Missing values per column:")
print(df.isnull().sum())

Missing values per column:
Customer_ID         0
Customer_Name       0
Gender              0
Date_of_Birth       1
City                0
Product_Category    0
Purchase_Date       0
Sales_Amount        1
Quantity            0
Payment_Mode        0
dtype: int64

In [7]:
# Fill numerical missing values with mean
num_cols = df.select_dtypes(include=[np.number]).columns
df[num_cols] = df[num_cols].fillna(df[num_cols].mean())

# Fill categorical missing values with mode
cat_cols = df.select_dtypes(include=["object"]).columns
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [8]:
df = df.drop_duplicates()

In [9]:
df["Date_of_Birth"] = pd.to_datetime(df["Date_of_Birth"], errors="coerce")

In [10]:
from datetime import datetime

current_year = datetime.now().year
df["Customer_Age"] = current_year - df["Date_of_Birth"].dt.year

In [11]:
Q1 = df[num_cols].quantile(0.25)
Q3 = df[num_cols].quantile(0.75)
IQR = Q3 - Q1

df = df[~((df[num_cols] < (Q1 - 1.5 * IQR)) |
          (df[num_cols] > (Q3 + 1.5 * IQR))).any(axis=1)]

In [12]:
print("Final Dataset Info:")
print(df.info())

# Save cleaned dataset
df.to_csv("cleaned_dataset.csv", index=False)

Final Dataset Info:
<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 0 to 9
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer_ID       9 non-null      int64
 1   Customer_Name     9 non-null      object
 2   Gender            9 non-null      object
 3   Date_of_Birth     9 non-null      datetime64[ns]
 4   City              9 non-null      object
 5   Product_Category  9 non-null      object
 6   Purchase_Date     9 non-null      object
 7   Sales_Amount      9 non-null      float64
 8   Quantity          9 non-null      int64
 9   Payment_Mode      9 non-null      object
 10  Customer_Age      9 non-null      int32
dtypes: datetime64[ns](1), float64(1), int32(1), int64(2), object(6)
memory usage: 828.0+ bytes
None

In [13]:
print(df.to_string())

   Customer_ID Customer_Name Gender Date_of_Birth       City Product_Category Purchase_Date  Sales_Amount  Quantity Payment_Mode  Customer_Age
0          101  Rahul Sharma      M    1999-05-12      Delhi      Electronics    2024-01-15       45000.0         1  Credit Card            27
1          102   Anita Verma      F    2000-08-25     Mumbai         Clothing    2024-01-18        3200.0         2          UPI            26
3          104   Priya Singh      F    2001-03-14    Kolkata      Electronics    2024-01-22       38000.0         1   Debit Card            25
4          105    Amit Patel      M    1997-07-30  Ahmedabad        Furniture    2024-01-25       15000.0         1  Credit Card            29
5          106    Neha Reddy      F    2002-01-22  Hyderabad         Clothing    2024-01-28        2800.0         2          UPI            24
6          107     Ravi Teja      M    1996-12-10  Bangalore        Groceries    2024-01-30       18105.0         3         Cash            30
7          108    Sneha Iyer      F    1999-09-18    Chennai      Electronics    2024-02-02       52000.0         1  Credit Card            27
8          109   Vikas Mehta      M    1995-06-05     Mumbai        Furniture    2024-02-05       18000.0         1   Debit Card            31
9          110    Anjali Das      F    2002-01-22    Kolkata         Clothing    2024-02-07        3100.0         2          UPI            24